<h1>Editing Transmitter T Record</h1>

<%= render 'form', transmitter_t_record: @transmitter_t_record %>

<%= link_to 'Show', @transmitter_t_record %> |
<%= link_to 'Back', transmitter_t_records_path %>
